/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
  margin: 0;
  padding: 0;
}

button, summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root{
	--bgcolor: #3B3331;
	--bgcolor2: black;
	--sitecolor: #247d8f;
	--articleheight: 7em;
	font-family: sans-serif;
	font-size: larger;
	}






/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

body{
	background-color: black;
}

header > h1{
	visibility: hidden;
}


/* Css om de header (manga logo, search bar, site nav) goed te krijgen */

/* de container van de spullen die in de header staan */
header{
	display:flex;
	background-color: var(--bgcolor);
	flex-direction:column;
}

/* Het MangaSee logo*/
header > a > img{
	height: 7em;
	margin: auto;

	/* Deze display flex is om het manga logo in de header in 
	het midden te zetten. Hij staat ondanks de margin niet meer in 
	het midden doordat het ook een link is.*/
	display: flex;
}

/* Het zoekveld */
header input{
	width: 90%;
	height: 7em;
	margin:auto;
	margin-bottom: 10px;
}

/* de container van de navigatie balk */
header ul{
	display: flex;
	list-style:none;
	background-color: rgb(88, 85, 85);
	color: white;
}

/* de containers/posities van de icoontjes in de nav bar.*/
nav ul li{
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 0.5em 0.5em;
	margin: 0 5%;	

	/* Dit is zodat het plaatje naast de login button niet
	onder de text gaat staan */
	display: flex;
}

nav ul li img{
	height: 3em;
}

nav ul li:hover{
background-color: rgb(146, 137, 137) ;
}

li a{
	border: none;
}

nav ul li a:focus-visible{
	background-color: rgb(207, 192, 192) ;

	border: 4px solid rgb(25, 216, 105);
	outline: none;
	}


nav ul li:last-of-type{
	margin-left: auto;
	gap: 2px;
}

nav ul li:nth-of-type(5):before{
	content:url(../images/login-16.png);
}

main {
margin: 0 5%;
}

/* voor dat groote plaatje tussen de header en de hot update tab */
main > img{
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}


/********************/
/* Het Hot Update blokje */
/*deze div code is voor dat blauw en de text daarin bovenop de update list*/
h1:before {
	content: url(../images/fire-2-16.png);
	margin-right: 5px;
}

h2:before {
	content: url(../images/book-2-16.png);
	margin-right: 5px;
}

div a > p{ 
	font-weight: 600;
}

div a > p::after{ 
	content: url(../images/arrow-31-16.png);
	position: relative;
	top: 2px;
	margin-left: 4px;
}

section > div{
display: flex;
justify-content: space-between;
background-color:var(--sitecolor);
color: white;
padding: 10px;
}


/* De container van de manga blokjes*/
main section ul {
background-color: white;
list-style: none;
padding: 2px 10px;
padding-bottom: 10px;
margin-bottom: 10px;
}

/*dit stukje is displayflex om de manga plaatjes en de p'tjes 
naast elkaar te zetten*/
main section ul li a{
	display: flex;
	margin-top: 20px;
	background-color: lightgray;
	text-decoration: none;
	color: rgb(0, 0, 0);
}

main section ul li p:nth-of-type(1){
	color:blue;
	font-weight: bolder;
}

section ul li img{
height: var(--articleheight);
max-width: 95px;
aspect-ratio: 1/1;
object-fit: cover;
object-position: top;

}

section ul p{
height: calc(var(--articleheight) / 3); 
padding-left: 10px;
padding-top: 5px;
}

